body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
}

canvas {
    border: solid 2px #fff;
    height: 80vh; /* 讓畫布隨視窗縮放 */
}

.info {
    margin-top: 10px;
    font-size: 1.2rem;
}